body {
  margin: 0;
  background-color: #1C1C1C;
  color: white;
  font-family: "Inter",sans-serif;
}

.app{
  position: absolute;
  left: 40%;
  top: 8%;
  width: 300px;
  background-color: #1A1B21;
  
}

h6{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin: 7px 36px;
}

h4{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin: 7px 36px;
}

.links:visited , .links:link{
  color: white;
  text-decoration: none;
}

.info-container{
  text-align: center;
}

.info-container{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.info--photo{
  max-width: 100%;
  max-height: 100%
}
.info--name{
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 7px 8px;
}

.info--role{
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #F3BF99;
  margin: 7px 8px;
}

.info--website{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  color: white;
}


.info--links{
  display: flex;
  padding: 0;
  margin: 0 8px;
  padding: 0 2rem;
  justify-content: space-between;
}

.info--links-box{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.info--links-email{
  background-color: #ffffff;  
}

.info--links-email > a:visited, .info--links-email > a:link{
  color: #374151;
  text-decoration: none;
}

.info--links-linkdin{
  background-color:#007AB9 ;
}

.info--links-linkdin{
  color: #ffffff;
  text-decoration: none;
}

.info--links-logo {
  width: 16px;
  height: 16px;
  padding-right: 5px;
}

footer{
  margin-top: 12px;
  background-color: #161619;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
  padding: 10px 40px;
}

.footer--img{
  width: 25px;
  height: 25px;

}



